@using Microsoft.Extensions.Configuration;
@inject IConfiguration configuration;
@{
    ViewData["Title"] = "Danh sách thành viên";
    List<TestKhoaExample.CustomModels.AccountModel> listUser = ViewBag.ListUser;
    List<TestKhoaExample.Models.Role> listRole = ViewBag.ListRoles;
    string userCode = ViewBag.UserCode;
    string linkAPI = configuration.GetSection("LINK_API") != null ? configuration.GetSection("LINK_API").Value : "";
}
<div class="row">
    <div class="col-lg-6">
        <h4>Danh sách thành viên</h4>
    </div>
    <div class="col-lg-6">
        <div class="text-right">
            <a id="cmdAdd" data-toggle="modal" data-target="#modal_form_horizontal" class="btn btn-primary" href="javascript:void(0)">Tạo mới thành viên</a>
        </div>
    </div>
</div>
<hr />
<table id="myTable" class="ui celled table">
    <thead>
        <tr>
            <th></th>
            <th>Username</th>
            <th>Họ tên</th>
            <th>Địa chỉ</th>
            <th>Email</th>
            <th>Điện thoại</th>
            <th>Giới tính</th>
            <th>Trạng thái</th>
            <th>Avatar</th>
            <th>Role</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var mThanhVien in listUser)
        {
            string avatar = !string.IsNullOrEmpty(mThanhVien.Avatar) ? linkAPI + "/" + mThanhVien.Avatar : "";
            <tr>
                <td style="width:80px;">
                    @if (userCode != mThanhVien.UserCode)
                    {
                        <a href="#" style="display:inline" class="btn btn-sm cmdDeleteUser" data-id="@mThanhVien.AccountId">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-x-square" viewBox="0 0 16 16">
                                <path d="M14 1a1 1 0 0 1 1 1v12a1 1 0 0 1-1 1H2a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1h12zM2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2z" />
                                <path d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z" />
                            </svg>
                        </a>
                        <a href="#" style="display:inline"
                           data-id="@mThanhVien.AccountId" data-role="@mThanhVien.Role" data-username="@mThanhVien.UserName" data-address="@mThanhVien.Address"
                           data-email="@mThanhVien.Email" data-fullname="@mThanhVien.FullName" data-phone="@mThanhVien.Phone"
                           data-gender="@mThanhVien.Gender" data-status="@mThanhVien.Status" data-avatar="@avatar"
                           data-toggle="modal" data-target="#modal_form_horizontal" class="btn btn-sm cmdEditUser">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil-square" viewBox="0 0 16 16">
                                <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z" />
                                <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z" />
                            </svg>
                        </a>
                    }
                </td>
                <td>@mThanhVien.UserName</td>
                <td>@mThanhVien.FullName</td>
                <td>@mThanhVien.Address</td>
                <td>@mThanhVien.Email</td>
                <td>@mThanhVien.Phone</td>
                <td>@mThanhVien.GenderName</td>
                <td>@mThanhVien.StatusName</td>
                <td>
                    @if (!string.IsNullOrEmpty(avatar))
                    { 
                        <img src="@avatar" style="max-width:50px;" />
                    }
                </td>
                <td>@mThanhVien.Role</td>
            </tr>
        }
    </tbody>
</table>
<div id="modal_form_horizontal" class="modal fade" tabindex="-1">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <form action="/account/apisave" id="frmThemMoiAccount" enctype="multipart/form-data" method="post" class="form-horizontal">
                <input type="hidden" name="Type" id="Type" value="Create" />
                <input type="hidden" name="Id" id="Id" value="0" />
                <div class="modal-body">
                    <fieldset class="mb-3">
                        <legend class="text-uppercase font-size-sm font-weight-bold" id="frmTitle">Thêm mới thành viên</legend>
                        <hr />
                        <div class="form-group row">
                            <label class="col-form-label col-sm-3">Role</label>
                            <div class="col-sm-9">
                                <select class="form-control select-search" name="RoleId" id="RoleId">
                                    @foreach (var mRole in listRole)
                                    {
                                        <option value="@mRole.RoleId">@mRole.RoleName</option>
                                    }
                                </select>
                            </div>
                        </div>

                        <div class="form-group row">
                            <label class="col-form-label col-sm-3">UserName</label>
                            <div class="col-sm-9">
                                <input type="text" maxlength="50" required name="UserName" id="UserName" class="form-control">
                            </div>
                        </div>

                        <div class="form-group row">
                            <label class="col-form-label col-sm-3">Password</label>
                            <div class="col-sm-9">
                                <input type="password" required name="Password" id="Password" class="form-control">
                            </div>
                        </div>

                        <div class="form-group row">
                            <label class="col-form-label col-sm-3">Họ tên</label>
                            <div class="col-sm-9">
                                <input type="text" maxlength="50" name="FullName" id="FullName" class="form-control">
                            </div>
                        </div>

                        <div class="form-group row">
                            <label class="col-form-label col-sm-3">Địa chỉ</label>
                            <div class="col-sm-9">
                                <input type="text" maxlength="200" name="Address" id="Address" class="form-control">
                            </div>
                        </div>

                        <div class="form-group row">
                            <label class="col-form-label col-sm-3">Email</label>
                            <div class="col-sm-9">
                                <input type="email" maxlength="50" name="Email" id="Email" class="form-control">
                            </div>
                        </div>

                        <div class="form-group row">
                            <label class="col-form-label col-sm-3">Điện thoại</label>
                            <div class="col-sm-9">
                                <input type="number" maxlength="10" name="Phone" id="Phone" class="form-control">
                            </div>
                        </div>

                        <div class="form-group row">
                            <label class="col-form-label col-sm-3">Giới tính</label>
                            <div class="col-sm-9">
                                <select class="form-control" name="Gender" id="Gender">
                                    <option value="0">Nam</option>
                                    <option value="1">Nữ</option>
                                </select>
                            </div>
                        </div>

                        <div class="form-group row">
                            <label class="col-form-label col-sm-3">Kích hoạt</label>
                            <div class="col-sm-9">
                                <select class="form-control" name="Status" id="Status">
                                    <option value="1">Có</option>
                                    <option value="0">Không</option>
                                </select>
                            </div>
                        </div>

                        <div class="form-group row">
                            <label class="col-form-label col-sm-3">Avatar</label>
                            <div class="col-sm-9">
                                <p>
                                    <input type="file" name="UpAvatar" value="" />
                                </p>
                                <p>
                                    <img style="display:none;" id="imgAvatar" alt="Alternate Text" />
                                </p>
                            </div>
                        </div>

                    </fieldset>

                    <div class="modal-footer">
                        <button type="button" class="btn btn-link" data-dismiss="modal">Đóng lại</button>
                        <button type="submit" id="cmdSave" class="btn btn-primary">Thêm mới</button>
                    </div>

                </div>
            </form>
        </div>
    </div>
</div>
@section Scripts {
    <script src="//cdn.datatables.net/1.11.1/js/jquery.dataTables.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.3.1/semantic.min.js"></script>
    <script>
        $(document).ready(function () {
            $('#myTable').DataTable();
        });
        $('#cmdAdd').click(function () {
            $('#frmTitle').text('Thêm mới thành viên');
            $('#Type').val('Create');
            $('#Id').val('0');
            $('#cmdSave').text('Thêm mới');
            $('#frmThemMoiAccount').trigger('reset');
            $('#imgAvatar').hide();
            $('#UserName').removeAttr('readonly');
            $('#Password').attr('required','required');
        });
        $('.cmdDeleteUser').click(function () {
            var _Confirm = confirm('Bạn có chắc chắn muốn xóa không?');
            if (_Confirm) {
                $(this).parents('tr').remove();
                var _Id = $(this).attr('data-id');
                var _Header = {
                    "Authorization": 'Bearer ' + getCookie('User')
                };
                var _Data = new FormData();
                _Data.append('iUserId', parseInt(_Id));
                $.ajax({
                    type: 'POST',
                    headers: _Header,
                    url: '/account/apiremove',
                    data: _Data,
                    cache: false,
                    contentType: false,
                    processData: false,
                    success: function (data) {
                        //document.location.reload();
                        if (data.includes('Error')) {
                            alert(data.replace(/Error: /g,''));
                        } else {
                            document.location.reload();
                        }
                    },
                    error: function (data) {

                    },
                });
            }
        });
        $('.cmdEditUser').click(function () {
            $('#UserName').attr('readonly', 'readonly');
            $('#Password').removeAttr('required');

            var _UserName = $(this).attr('data-username');
            var _FullName = $(this).attr('data-fullname');
            var _Address = $(this).attr('data-address');
            var _Email = $(this).attr('data-email');
            var _Phone = $(this).attr('data-phone');
            var _Role = $(this).attr('data-role');
            var _Gender = $(this).attr('data-gender');
            var _Status = $(this).attr('data-status');
            var _Id = $(this).attr('data-id');
            var _Avatar = $(this).attr('data-avatar');

            if (_Avatar != '') {
                $('#imgAvatar').show();
                $('#imgAvatar').attr('src', _Avatar);
            } else {
                $('#imgAvatar').hide();
            }

            $('#UserName').val(_UserName);
            $('#FullName').val(_FullName);
            $('#Address').val(_Address);
            $('#Email').val(_Email);
            $('#Phone').val(_Phone);

            //$('#RoleId').val(_Role);

            $("#RoleId").find("option").filter(function () {
                return this.innerHTML == _Role;
            }).attr("selected", true);

            $('#Gender').val(_Gender);
            $('#Status').val(_Status);
            $('#Type').val('Edit');
            $('#Id').val(_Id);
            $('#frmTitle').text('Cập nhật thành viên');
            $('#cmdSave').text('Cập nhật');
        });
        function getCookie(key) {
            var keyValue = document.cookie.match('(^|;) ?' + key + '=([^;]*)(;|$)');
            return keyValue ? keyValue[2] : null;
        }
    </script>
    <script type="text/javascript">
        var frmThemMoiAccount = $('#frmThemMoiAccount');

        frmThemMoiAccount.submit(function (e) {

            $("#cmdSave").attr("disabled");
            $("#cmdSave").addClass("disabled");
            $("#cmdSave").html('Đang lấy thông tin');

            var _Data = new FormData(this);

            e.preventDefault();

            $.ajax({
                type: frmThemMoiAccount.attr('method'),
                url: frmThemMoiAccount.attr('action'),
                data: _Data,
                cache: false,
                contentType: false,
                processData: false,
                success: function (response) {

                    if (response != 401) {
                        if (response > 0) {
                            document.location.reload();
                        } else {
                            alert('Có lỗi xảy ra.');
                        }
                    } else {
                        alert('Bạn không có quyền truy cập');

                        //$('#frmThemMoiAccount').trigger("reset");
                        //$("#cmdSave").removeAttr("disabled");
                        //$("#cmdSave").removeClass("disabled");
                        //$("#cmdSave").html("Đăng nhập");
                    }
                },
                error: function (data) {
                    //alert('An error occurred.' + data.responseText);
                    console.log(data);
                },
            });
        });
    </script>
}